<!DOCTYPE html>
<html lang="en-us">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Charleston News</title>
</head>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo right">Charleston, SC News</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/savedArticles">View Saved Articles</a></li>
            {{#if homePage}}
            <li><a class="waves-effect waves-light btn" id="scrapebtn">Scrape Articles</a></li>
            <li><a class="waves-effect waves-light btn" id="clearbtn">Clear Articles</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

<body>

    {{{body}}}


</body>

</html>